@use "../node_modules/bootstrap/scss/bootstrap" with (

    // Couleurs
    $primary: #0074c7,
    $secondary: #00497c,
    $success: #82b864,
    $danger: #cd2c2e,
    $dark: #384050,
    $light: #f1f8fc,

    // Liens
    $link-color: #0074c7,
    $link-hover-color: #00497c
);

// ========================================
// Partials
// ========================================

@use "./components";
@use "./layouts";
@use "./variables";

// ========================================
// Styles globaux
// ========================================

body {
}

h1{
    color: var(--bs-secondary);
    padding-bottom: 10px;
}