@use "../node_modules/bootstrap/scss/bootstrap" with (

    // Couleurs
    $primary: #0074c7,
    $primary-dark: #00497c,
    $success: #82b864,
    $danger: #cd2c2e,
    $dark: #384050,
    $light: #f1f8fc,

    // Liens
    $link-color: #0074c7,
    $link-hover-color: #00497c
);


// ========================================
// Styles personnels
// ========================================

body {
    background-color: #f1f8fc;
}

.navbar-brand {
    font-weight: bold;
}