/* Error: This variable was not declared with !default in the @used module.
 *   ,
 * 5 |     $primary-dark: #00497c,
 *   |     ^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\style.scss 5:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This variable was not declared with !default in the @used module.\a   \2577 \a 5 \2502      $primary-dark: #00497c,\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\style.scss 5:5  root stylesheet";
}
